body {background-color:white;font-family:arial;
    color:white}
h1{color:grey;font-family:verdana}
 .maindiv {
    border-radius: 25px;color:black ; background-color:white;
    width: 300px; align-items: center; position: absolute; 
    right: 50%;
    }

